.stock-container {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    gap: 20px;
}

.stock-box {
    width: calc(25% - 20px);
    border-bottom: 1px solid rgb(199, 199, 199);
}

.stock-box p {
    margin-bottom: 0em;
    font-size: 0.9em;
}

.product-name {
    font-size: 0.6em;
}