/* ShowOrders.css */
.orders-container {
  padding-top: 60px;
  padding-left: 211px;
  height: 100vh;
  display: flex !important;
  justify-content: center !important;
}

.table-responsive {
  margin-top: 40px;
  width: 50vw;
}

.table-bordered {
  width: 100%;
  border-collapse: collapse;
  border: 1px solid #dee2e6; /* Adjust border color */
}

.table-bordered th,
.table-bordered td {
  border: 1px solid #dee2e6; /* Adjust border color */
  padding: 8px;
  text-align: center;
}

/* Aumentamos la especificidad para el color de fondo de los th */
.table-bordered th {
  background-color: rgb(199, 199, 199) !important; /* Adjust background color */
}

/* Optional: Hover effect */
.table-bordered tbody tr:hover {
  background-color: #f2f2f2; /* Adjust hover background color */
}
