/* ShowOrders.css */
/* ShowOrders.css */
.table-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.table-responsive {
  margin-top: 20px;
  width: 50vw;
}

.table th{
  background-color: grey;
}


/* Optional: Hover effect */
.table-bordered tbody tr:hover {
  background-color: #f2f2f2; /* Adjust hover background color */
}
